@media (max-width:1200px){
    /* Header */
    .site-header{
        max-width: 1000px;
    }
    .header-container-bar{
        margin-left: 20px;
    }
    .header-container-bar-burger{ display: flex;}

    .header-container-bar-company-ul{
        display: none;
    }

    .header-container-bar-company-buttons :nth-child(2){
        width: 150px;
        height: 50px;
        font-size: 18px;
    }
    /* Main page */

    .main-home-page,.main-home-page-container{
        max-width: 1000px;
        height: 800px;
        background-color: aqua;
    }

    .main-home-page-container-info{
        width: 700px;
        height: 800px;
        background-color: rgb(174, 91, 91);
    }
    .main-home-page-container-info-title {
        width: 250px;
        height: 300px;
        background-color: blue;
    }
    .main-home-page-container-info-text {
        width: 300px;
        height: 200px;
    }
    .main-home-page-container-info-button {
    }
    .main-home-page-container-info-statistic {
        width: 100px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: bisque;
    }
    .main-home-page-container-info-statistic-block {
        width: 70px;
        height: 50px;
        background-color: aliceblue;
    }
}