@media (max-width:600px){
    /* Header */
    .site-header{
        max-width: 400px;
    }

    .header-container-bar-company-name{
        width: 100px;
        height: 50px;
        font-size: 16px;
    }
    .header-container-bar{
        margin-left: 20px;
    }
    .header-container-bar-burger{ display: flex;}

    .header-container-bar-company-ul{
        display: none;
    }

    .header-container-bar-company-search input{
        width: 50px;
        height: 30px;
    }
    .header-container-bar-company-search  form{
        width: 100px;
        height: 50px;
        font-size: 12px;
        justify-content: center;
    }
    .header-container-bar-company-buttons :nth-child(2){
        width: 150px;
        height: 50px;
        font-size: 18px;
    }

    .header-container-bar-company-buttons {
        width: 60px;
        height: 90px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
    }
    .header-container-bar-company-buttons :nth-child(1),.header-container-bar-company-buttons :nth-child(2){
        width: 60px;
        height: 30px;
        font-size: 10px;
    }

    /* Main page */

    .main-home-page,.main-home-page-container{
        max-width: 400px;
        height: 1300px;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-home-page-container-info{
        width: 400px;
        height: 600px;
    }
    .main-home-page-container-info-title {
        width: 400px;
        height: 150px;
    }
    .main-home-page-container-info-text {
        width: 400px;
        height: 150px;
    }
    .main-home-page-container-info-statistic {
        width: 400px;
        height: 50px;
    }
    .main-home-page-container-info-statistic-block {
        width: 100px;
        height: 50px;
    }


    .main-home-page-container-images {
        width: 400px;
        height: 500px;
    }

    /* Amazing Block */
    .amaze-block {
        width: 400px;
        height: 900px;
    }
    .amaze-block-container {
        width: 400px;
        height: 900px;
        flex-direction: column;
    }
    .amaze-block-container-title-block {
        margin: 0 auto;
        width: 380px;
        height: 70px;

    }
    .amaze-block-container-block-info {
        width: 400px;
        height: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .amaze-block-container-block-info-block {
        width: 400px;
        height: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .amaze-block-container-block-info-block-1,.amaze-block-container-block-info-2 {
        width: 400px;
        height: 300px;
    }
    /* Колекция NFT */
    .collection-nft-block {
        width: 400px;
        height: 1900px;
        margin-top: 20px;
    }
    .collection-nft-block-container {
        width: 400px;
        height: 1900px;
        flex-direction: column;
    }
    .collection-nft-block-container-my-collection-block {
        width: 400px;
        height: 1900px;
        justify-content: start;
        flex-direction: column;
        gap:30px;
    }
    /* остальная часть коллекции */
    .collection-nft-block-container-my-collection-block-other {
        width: 380px;
        height: 700px;
    }
    .collection-nft-block-container-my-collection-block-other-block {
        width: 380px;
        height: 700px;
    }
    .collection-nft-block-container-my-collection-block-other-block-info {
        width: 250px;
    }
    .collection-nft-block-container-my-collection-block-other-block-button,.collection-nft-block-container-my-collection-block-other-block-button-no-background,.collection-nft-block-container-my-collection-block-other-block-info-name  {
        padding-left: 15px;
    }
    /* топ лист коллекций */
    .my-collection-block-collections-over-list {
        width: 400px;
        height: 600px;
    }
    .my-collection-block-collections-over-list-block {
        width: 400px;
        height: 100px;
    }

    /* вся ваша коллекция */
    .all-your-collection {
        width: 400px;
        height: 1700px;
    }
    .all-your-collection-container {
        width: 400px;
        height: 1700px;
        flex-direction: column;
        justify-content: start;
        gap:20px;
    }
    .all-your-collection-container-title {
        width: 400px;
        height: 100px;
    }
    .all-your-collection-container-block-blocks {
        width: 400px;
        height: 1500px;
        flex-direction: column;
        gap:30px;
    }
    .all-your-collection-container-block {
        width: 400px;
        height: 400px;
    }

    .all-your-collection-container-block-info {
        width: 400px;
    }
    .all-your-collection-container-block-info-title-and-userinfo {
        width: 200px;
        font-size: 16px;
    }
    .all-your-collection-container-block-info-button button{
        width: 130px;
        height: 30px;
        font-size: 16px;
    }

    /* Создать свой NFT */
    .create-your-nft {
        width: 400px;
        height: 1500px;
        margin-top: 10px;
    }
    .create-your-nft-container {
        width: 400px;
        height: 1500px;
        flex-direction: column;
        justify-content: space-around;
    }
    .create-your-nft-container-image-block {
        width: 400px;
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    
    .create-your-nft-container-image-block-background-1{
        width: 230px;
        height: 150px;
        top:0px;
        left:0px;
    }

    .create-your-nft-container-image-block-background-1:after{
        top:170px;
        left:190px;
        width: 25px;
        height: 25px;
    }
    .create-your-nft-container-image-block-background-2{
        width: 200px;
        height: 100px;
        top:7em;
        left:11em;
    }
    .create-your-nft-container-image-block-background-2:after{
        top:170px;
        left:160px;
    }
    .create-your-nft-container-image-block-background-3{
        width: 150px;
        height: 100px;
        top: 16em;
        left: 2em;
    }
    .create-your-nft-container-image-block-background-3:after{
        top:120px;
        left:110px;
    }
    .create-your-nft-container-info-block {
        width: 400px;
        height: 400px;
    }
    .create-your-nft-container-info-block-text-block {
        width: 400px;
        font-size: 20px;
    }

    /* Предпоследний блок */
    .discover {
        width: 400px;
        height: 8000px;
    }
    .discover-container {
        width: 400px;
        height: 8000px;
        display: flex;
        justify-content: center;
        gap:30px;
    }
    .discover-container-title-block h3{
        width: 400px;
        height: 100px;
        background-color: aqua;
    }
    .discover-container-catalog-block {
        width: 380px;
        height: 700px;
        margin:0 auto;  
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 10px;
        gap:10px;
    }
    .catalog-nav ul{
        width: 380px;
        height: 400px;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
    }
    .discover-container-carts-container {
        width: 400px;
        height: 6800px;
        gap:20px;
        flex-direction: column;
    }
    .discover-container-carts-block {
        width: 400px;
        height: 7500px;
        flex-direction: column;
        gap:30px;
    }

    /* Footer */
    .nft-footer {
        width: 400px;
        height: 1500px;
    }
    .nft-footer-container {
        width: 400px;
        height: 1500px;
        flex-direction: column;
    }
    .nft-footer-container-main-info-block {
        width: 380px;
        height: 1300px;
        flex-direction: column;
        gap:100px;
    }
    .nft-footer-container-info-block,.nft-footer-container-marketplace-block,.nft-footer-container-myaccount-block {
        width: 380px;
        height: 200px;
    }
    .nft-footer-container-info-block-p {
        width: 400px;
    }
    .nft-footer-container-stay-in-the-loop-block {
        width: 380px;
        height: 200px;
    }
    .nft-footer-container-stay-in-the-loop-block-p {
        width: 400px;
    }
    .nft-footer-container-stay-in-the-loop-block-message-email form{
        width: 400px;
        height: 50px;
        font-size: 20px;
    }
    .nft-footer-container-stay-in-the-loop-block-message-email input::placeholder{
        font-size: 14px;
        padding-left: 20px;
    }
}