@media (max-width:500px){
    /* Header */
    .site-header{
        max-width: 320px;
    }
    .header-container-bar{
        margin-left: 20px;
    }
    .header-container-bar-burger{ display: flex;}

    .header-container-bar-company-ul{
        display: none;
    }

    .header-container-bar-company-buttons :nth-child(2){
        width: 150px;
        height: 50px;
        font-size: 18px;
    }
    /* Main page */

    .main-home-page,.main-home-page-container{
        max-width: 320px;
        height: 13git 00px;
        background-color: aqua;
    }

    .main-home-page-container-info{
        width: 320px;
        height: 1000px;
        background-color: rgb(174, 91, 91);
    }
    .main-home-page-container-info-title {
        width: 320px;
        height: 300px;
        background-color: blue;
    }
    .main-home-page-container-info-text {
        width: 320px;
        height: 200px;
        background-color: aqua;
    }
    .main-home-page-container-info-button {
    }
    .main-home-page-container-info-statistic {
        width: 320px;
        height: 200px;
    }
    .main-home-page-container-info-statistic-block {
        width: 70px;
        height: 50px;
        background-color: aliceblue;
    }
}